.card-class {
    padding-top: 50px;    
    padding-bottom: 20px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .items-length {
        width: 100%;
        }

    input {
        margin-top: 15px;
        margin-right: 10px;
    }

    span {
        margin-top: 25px;

        fa-icon {
            margin-right: 10px;
        }
    }

    .search_bar {
        width: 100%;
        height: fit-content;
        margin-right: 10px;
        margin-top: 20px;
        border-radius: 10px;
        }

    .card {
        width: 150px;
        height: 300px;
        cursor: pointer;

        .card-body {
            height: 30px;
    }

        .faHeart {
            margin-top: 5px;
            margin-left: 5px;
            position: absolute;
        }

        .card-title {
            font-weight: 400;
            font-size: 18px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
        
        }
        .card-text {
            font-size: 16px;
        }
        
         .image{
            height: -webkit-fill-available;  
            max-height: 70%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            
  }
    }
}