.navigation {
    width: 100%;
    position: fixed;
    z-index: 100;

    button {
        margin-right: 5px;
    }

.navbar-brand {
    margin-left: 15px;
    }

    .navbar-nav {
        margin-left: 15px;
    }
}